<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <meta charset="utf-8">

</head>

<body>


    <form action="/displayAddress" method="POST">
        <h3> Please Press the button to get the temperature at your current location </h1>
        
      
        <input type="submit" value="submit">
    </form>



</body>



</html>